{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Kare!</h1>
        <p>Kare lets you track your feelings on different occasions and times.It can helps you to make a little bit more controle over your feelings and thoughts.With the help of Karey you can care yourself in more appropriate way in the context of your emations and feelings.For example on a specific oscasion you shouldn't be angry but you do unconciously, it will helps you track this feelings and think about it later.</p>
        <p><a class="btn btn-primary btn-lg cb" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2> Track </h2>
            <p> Track your feelings and emotions minute by minute.Track something is a best and easy way to make more control over it.So, by tracking your feelings you can make more control over them according to various situations.</p>
          <p><a class="btn btn-default cbs" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Graphs</h2>
            <p>All of your feelings will be represented in graphs from Ecstatic to Paranoid from Top to bottom respectively.In this way you can get a clear picture of your feelings on a specific occasion under a specific situation. </p>
          <p><a class="btn btn-default cbs" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Grouping</h2>
            <p>You can create, join and leave two types of groups Family and Company.Family will represnts all of your personal relations either belongs to your family or friends list.And Company will represents all of your work relations.</p>
          <p><a class="btn btn-default cbs" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
{% endblock  %}
    </div>